/* MAIN STYLES */

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  src: url(../fonts/Montserrat-Medium.ttf);
}
@font-face {
  font-family: "montserrat";
  font-weight: 600;
  src: url(../fonts/Montserrat-SemiBold.ttf)
}
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  src: url(../fonts/Montserrat-Bold.ttf);
}
@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  src: url(../fonts/Montserrat-ExtraBold.ttf);
}

@font-face {
  font-family: "Montserrat";
  font-weight: 900;
  src: url(../fonts/Montserrat-Black.ttf);
}

:root {
  --orange-color: #FF9900;
  --dark-gray: #333333;
  --light-gray: #CACACA;
  --dark-orange: #E1670E;
  --list-gap: 30px;
  --swiper-pagination-color: rgba(255, 255, 255);
  --swiper-theme-color: rgba(255, 255, 255)
}

body {
  font-family: "montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  background-color: rgb(254,	254,	254	);
  color: var(--dark-gray);
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

h1, h2, h3, h4 {
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

button {
  outline: none;
  cursor: pointer;
}

.container {
  max-width: 1770px;
  width: 93%;
  margin: auto;
}

.btn {
  padding: 19px 37px;
  background-color: var(--orange-color);
  color: #fff;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.2px;
  border: 3px solid var(--orange-color);
}

.text {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: var(--dark-gray);
}

.section-title {
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  color: var(--dark-gray);
}

.h4-title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: var(--dark-gray);
}

.strong-title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: var(--dark-gray);
}

/* HEADER */
.header {
  position: relative;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  z-index: 200;
  overflow: hidden;
}
.header__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0;
}

.header-burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 23px;
  cursor: pointer;
}
.header-burger__line {
  height: 3px;
  width: 100%;
  background-color: #333;
}

.header__logo {
  height: 72px;
}
.header__logo img {
  height: inherit;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__list {
  display: flex;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.1px;
  transition: opacity 0.2s ease-in-out;
}

.header__list-item:not(:last-child) {
  margin-right: 85px;
}
.header__list-item:last-child {
  margin-right: 71px;
}

.header__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: var(--dark-gray);
  padding-bottom: 12px;
  position: relative;
}
.header__link::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 2px solid var(--orange-color);
  opacity: 0;
  transition: all .3s ease-in-out;
}

.search-container {
  display: inline-block;
}
.header__search-btn {
 display: inline-block;
 margin-right: 15px;
 width: 23px;
 height: 23px;
 border: 2px solid var(--dark-gray);
 position: relative;
 border-radius: 50%;
 background-color: transparent;
 transition: all .3s ease-in-out;
}
.header__search-btn:before {
  content: "";
  display: inline-block;
  position: absolute;
  right: -4px;
  bottom: -1px;
  border-width: 0;
  background: var(--dark-gray);
  width: 0.35em;
  height: 0.1em;
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
  transition: all .3s ease-in-out;
 }

 /* Search input */

 .search-box {
  position: absolute;
  right: -40%;
  display: flex;
  align-items: center;
  padding: 16px 13px 16px 32px;
  border-radius: 16px;
  border: none;
  background-color: white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
  transform: scaleX(0);
  transition: all 0.7s ease-in-out;
 }

 .search-input {
  border: none;
  margin-right: 14px;
  font-size: 18px;
  line-height: 28px;
  width: 412px;
  border-bottom: 1px solid #DCDCDC;
  outline: none;
 }

 .closed-search {
  display: inline-block;
  background: url(../img/closed_search.png);
  margin-right: 15px;
  margin-left: 7px;
  width: 24px;
  height: 24px;
  transition: all .2s ease-in-out;
  outline: none;
  border: none
 }

 .search-box__btn {

 }
 .search-box_active {
  right: 0;
  transform: scaleX(1);
 }

/* Header UI */
.header__link:hover::before {
  opacity: 1;
}

.header__link:active::before {
  border-bottom: 2px solid var(--dark-orange);
}

.header__search-btn:hover {
  border: 2px solid var(--orange-color);
}
.header__search-btn:hover::before {
  background: var(--orange-color)
}

.header__search-btn:active {
  border: 2px solid var(--dark-orange);
}
.header__search-btn:active::before {
  background: var(--dark-orange)
}

/* Mobile Menu */

.mobile-menu {
  position: absolute;
  padding: 39px 0 0 50px;
  height: 100%;
  width: 420px;
  top: 0;
  left: 0;
  z-index: 150;
  transition: transform 0.5s ease;
  z-index: 10000;
  background-color: white;
  transform: translateX(-100%);
}

.mobile-menu__close-btn {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 23px;
  width: 23px;
  margin-bottom: 100px;
  outline: none;
  border: none;
  background-color: transparent;
}

.close-btn__element {
  position: relative;
  height: 2px;
  width: 100%;
  background-color: black;
  transform: rotate(-45deg);
}

.close-btn__element::after {
  position: absolute;
  content: "";
  left: 0;
  height: 2px;
  width: 100%;
  transform: rotate(90deg);
  background-color: black;
}

.mobile-menu_active {
  transform: translateX(0);
}

.mobile-menu__list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: white;
}

.mobile-menu__list-item:not(:last-child) {
  margin-bottom: 60px;
}

.mobile-menu__link {
  font-size: 24px;
  line-height: 30px;
}

.mobile-menu__link::after {
  content: attr(data-after);
  white-space: nowrap;
  position: absolute;
  top: -120%;
  left: 50%;
  font-size: 50px;
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
  z-index: 151;
  transition: opacity 0.5s ease;
}

.mobile-menu__link::before {
  content: '';
  height: 0;
  width: 0
}

.mobile-menu__list-item {
  z-index: 152;
}

.mobile-menu__list-item:hover .mobile-menu__link::after {
  transform: translate(-50%, -50%) scale(1);
  animation: 0.7s font-size-transition ease;
  opacity: 0.2;
}

@keyframes font-size-transition {
  0% {
      transform: translate(-50%, -50%) scaleX(2);
  }
  100% {
      transform: translate(-50%, -50%) scaleX(1);
  }
}


/* HERO SECTION */
.hero__container {
  position: relative;
  margin-bottom: 102px;
  padding: 104px 78px 90px 78px;
  background-size: cover;
  color: white;
}



/* SLIDEBAR */

.swiper-wrapper {
  height: 100%;
}

.swiper-container {
  width: 100%;
  height: 100%;
  margin: 0;
  top: 0;
  left: 0;
  position: absolute;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 10px;
  width: 15px;
  height: 15px;
  opacity: .4;
  background-color: var(--swiper-theme-color);
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet-active {
  opacity: 1;
}

.swiper-slide img {
  height: 100%;
}


/* END OF SIDEBAR */


.hero__content {
  max-width: 55%;
  position: relative;
}

.hero__title {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 800;
  font-size: 70px;
  line-height: 86px;
  letter-spacing: 0.3px;
}

.hero__text {
  margin: 0 0 96px 0;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}

.hero__btn {
  padding: 27px 36px 24px 37px;
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 29px;
  letter-spacing: 0.6px;
  text-align: center;
  border: none;
  transition: all .3s ease-in-out;
}

/* Hero UI */
.hero__btn:hover {
  background-color: rgba(255, 153, 0, 0.6);
}

.hero__btn:active {
  background-color: var(--dark-orange);
}

/* ABOUT SECTION */
.about__container {
  margin-bottom: 100px;
}

.about__title {
  margin-bottom: 21px;
}

.about__text {
  max-width: 1235px;
  margin-bottom: 46px;
  font-weight: 400;
}

.about__text-titul {
  display: inline-block;
  width: 17px;
  height: 17px;
  background-image: url(../img/i\ -\ Тултип.svg);
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.about__block-container {
  display: flex;
}

.about__left-block {
  position: relative;
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  margin-right: var(--list-gap);
}

.left-block__bground {
  height: 100%;
  width: 100%;
  background-image: url(../img/Rectangle\ 2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.about__right-block {
  flex: 1 1 50%;
}

.about__left-info-block {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 38px 66px 42px 54px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.about__left-info-text {
  flex: 0 1 68%;
  font-weight: 700;
  letter-spacing: 0.02px;
}

.btn_transparent {
  flex: 0 1 24%;
  background-color: transparent;
  padding: 19px 17px;
  line-height: 16px;
  font-size: 16px;
  font-weight: 700;
  transition: all .3s ease-in-out;
}

.cards-wrapper__item {
  display: flex;
  padding: 64px 116px 66px 63px;
  border: 1px solid var(--light-gray);
}

.cards-wrapper__title {
  margin-bottom: 7px;
}

.cards-wrapper__image-container {
  margin-top: 5px;
  flex-shrink: 0;
  width: 175px;
  height: 137px;
  margin-right: 60px;
  background-size: contain;
  background-repeat: no-repeat;
}

.cards-wrapper__image-container_cube {
  background-image: url(../img/Cube.svg);
}

.cards-wrapper__image-container_gear {
  background-image: url(../img/gear.svg);
  transform: scale(1.1) translateX(8px) translateY(-7px);
}

.cards-wrapper__item:not(:last-child) {
  margin-bottom: var(--list-gap);
}

/* About UI */
.btn_transparent:hover {
  background-color: var(--orange-color);
}
.btn_transparent:active {
  background-color: var(--dark-orange);
}

/* CONSULT SECTION */
.consult__container {
  margin-bottom: 104px;
}

.consult__title {
  transform: translateX(-7px);
}

.consult__content {
  display: none;
  justify-content: space-between;
  transform: translateX(2px);
  position: relative;
  animation: consult-transition 0.7s ease-in-out
}

.consult__content-active {
  display: flex;
}

.consult__content-item {
  flex: 0 1 49%;
  padding-bottom: 50px;
}

@keyframes consult-transition {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1
  }
}

.consult__steps {
  display: flex;
  padding: 46px 0 41px 2px;
}

.consult__steps-item:not(:last-child) {
  margin-right: 89px;
}

.consult__btn {
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  background-color: transparent;
  border: none;
  color: var(--dark-gray);
  transition: color 0.1s ease-in-out;
}

.consult__strong-title {
  line-height: 1;
  margin-bottom: 7px;
}

.consult__text {
  max-width: 758px;
  margin-bottom: 61px;
}

.consult__btn-wrapper {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  justify-content: space-between;
  max-width: 41%;
}

.btn_sm {
  flex: 0 1 49%;
  display: block;
  margin-right: 20px;
  padding: 18px;
  background-color: var(--orange-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: white;
  border: none;
  transition: all .3s ease-in-out;
}

.btn_sm_black {
  display: block;
  flex: 0 1 41%;
  padding: 18px 18px;
  margin-right: 0;
  background-color: transparent;
  color: var(--dark-gray);
  border: 1px solid var(--dark-gray);
}

.btn_sm:hover {
  color: #ffffff;
  background-color: #666666;
}

.btn_sm:active {
  color: #ffffff;
  background-color: #000;
}

.consult__content-item-right {
  min-height: 460px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.consult__content-item-right_img1 {
  background-image: url(../img/Rectangle\ 18.jpg);
}
.consult__content-item-right_img2 {
  background-image: url(../img/script.jpeg);
}
.consult__content-item-right_img3 {
  background-image: url(../img/script2.jpg);
}
.consult__content-item-right_img4 {
  background-image: url(../img/script3.jpg);
}

/* Consult UI */
.consult__btn:hover {
  color: var(--orange-color);
}

.consult__btn:active {
  color: var(--dark-orange);
}

/* QA SECTION */
.qa__container{
  margin-bottom: 99px;
}

.qa__title {
  margin-bottom: 39px;
}

.qa__item:first-child {
  border-top: 1.0px solid var(--light-gray);
}

.qa__item {
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: -1px;
  padding: 30px 70px 30px 0;
  border-top: 1.0px solid transparent;
  border-bottom: 1.0px solid var(--light-gray);
  transition: all .3s ease-in-out;
}

.qa__expand-icon {
  position: absolute;
  top: 25px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  background-color: #ECECEC;
  border-radius: 50%;
  transition: all .5s ease;
}

.qa__expand-icon::before {
  content: "";
  position: absolute;
  width: 60%;
  height: 1px;
  background-color: var(--dark-gray);
  transition: all .5s ease;
}

.qa__expand-icon::after {
  content: "";
  position: absolute;
  width: 60%;
  height: 1px;
  background-color: var(--dark-gray);
  transform: rotate(90deg);
  transition: all .5s ease;
}

.qa__item-text {
  display: inline;
  width: 100%;
  transition: all .1s ease-in-out;
}

.qa__item-text_span {
  color: var(--light-gray);
}

/* Accordion */

.ui-accordion-content {
  padding-top: 30px;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
}

.ui-state-active ~ .qa__expand-icon::before {
  transform: rotate(-225deg);
}

.ui-state-active ~ .qa__expand-icon::after {
  transform: rotate(45deg);
}

/* QA section UI */
.qa__item:hover {
  border-top: 1.0px solid var(--orange-color);
  border-bottom: 1.0px solid var(--orange-color);
}

.qa__item:hover .qa__item-text {
  color: var(--orange-color);
}

.qa__expand-icon:hover ~ .qa__item-text {
  color: var(--orange-color);
}

/* Footer */
.footer {
  padding: 50px 0 80px 0;
  background-color: #222222;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer__left {
  position: relative;
  flex: 0 1 20%;
}

.footer__logo-link {
  display: block;
  height: 72px;
  margin-top: -1px;
  margin-bottom: 12px;
}

.logo-link__img {
  height: inherit;
  width: inherit;
}

.footer__nav-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  color: var(--light-gray);
}

.social-media {
  display: flex;
  justify-content: space-between;
  width: 230px;
  position: absolute;
  bottom: 0;
}

.social-media__link {
  width: 60px;
  height: 60px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.social-media__link_fb {
  background-image: url(../img/fb.svg);
}
.social-media__link_vk {
  background-image: url(../img/vk.png);
}
.social-media__link_inst {
  background-image: url(../img/instagram.svg);
}

.footer__center {
  flex: 0 1 32%;
}

.footer__title {
  margin-top: 8px;
  margin-bottom: 23px;
  font-weight: 400;
  color: var(--light-gray);
}

.footer__form-input {
  display: block;
  width: 100%;
  padding: 14px 24px;
  margin-bottom: 27px;
  font-size: 16px;
  line-height: 32px;
  background-color: #414141;
  color: var(--light-gray);
  border: none;
}

.footer__form-input_message {
  height: 150px;
}

.submit-wrapper {
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
}

.form__btn {
  flex: 0 1 47%;
  padding: 20px;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.1px;
  font-weight: 700;
  border: none;
  transition: all .3s ease-in-out;
}

.form__btn:hover {
  background-color: rgba(255, 153, 0, 0.6);
}

.form__btn:active {
  background-color: var(--dark-orange);
}

.checkbox {
  flex: 0 0 48%;
  font-size: 16px;
  line-height: 32px;
  color: var(--light-gray);
  cursor: pointer;
  white-space: nowrap
}

#agreements-input {
  display: none;
}

#agreements-input + span {
  position: relative;
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid var(--light-gray);
}

#agreements-input + span::before {
  content: "";
  background: url(../img/checkbox.svg) center top no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

#agreements-input:checked + span::before {
  opacity: 1;
}

.footer__footer-right {
  flex: 0 1 20%;
  display: flex;
  min-width: 363px;
  margin-top: 75px;
}

.footer-right__info {
  margin:0;
  color: var(--light-gray);
}

/* Adaptive */

@media (max-width: 1814px) {
  .footer__footer-right {
    flex: 0 1 15%;
  }
  .footer__center {
    flex: 0 1 40%;
  }
}

@media (max-width: 1600px) {
  .hero__content {
    max-width: 70%;
  }
  .header__list-item:not(:last-child) {
    margin-right: 60px;
  }
  .cards-wrapper__item {
    padding: 44px 66px 46px 33px;
    align-items: center;
  }
  .about__block-container {
    flex-direction: column;
  }
  .about__left-block {
    margin-right: 0;
    margin-bottom: var(--list-gap);
  }
  .about__left-info-text {
    flex: 0 1 60%;
  }
  .btn_transparent {
    flex: 0 1 21%;
  }
  .left-block__bground {
    height: 640px;
  }
  .about__left-info-block {
    padding: 38px 50px 39px 44px;
  }
  .footer__center {
    flex: 0 1 45%;
    margin-right: auto;
  }
  .footer__footer-right {
    display: none;
  }
  .footer__left {
    flex-basis: 40%
  }
  .checkbox {
    margin-left: 10px;
  }
}

@media (max-width: 1200px) {
  .cards-wrapper__image-container {
    width: 178px;
    height: 140px;
    margin-top: 0;
    margin-right: 58px;
  }
  .header__list-item:not(:last-child) {
    margin-right: 50px;
  }
  .consult__btn-wrapper {
    max-width: 70%;
  }
  .footer__footer-right {
    display: none;
  }
  .footer__center {
    flex-basis: 45%;
    margin-right: auto;
  }
  .submit-wrapper {
    flex-direction: column;
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  .container {
    max-width: 924px;
    width: 91%;
  }
  .consult__content-item-right {
    min-height: 689px;
  }
}
@media (max-width: 1024px) {
  :root {
    --list-gap: 40px;
  }
  .header__container {
    padding: 26px 0 25px 0;
  }
  .header__logo {
    height: 49px;
  }
  .header__list {
    display: none;
  }
  .header-burger {
    display: flex;
  }
  .header__search-btn {
    margin-right: 0;
  }
  .hero__content {
    max-width: none;
  }
  .hero__title {
    margin-bottom: 10px;
    font-size: 60px;
    line-height: 73px;
    letter-spacing: 0.001em;
  }
  .hero__container {
    background: url(../img/header_low_angle.jpeg) center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 160px 45px 114px 45px;
    margin-bottom: 60px;
  }
  .hero__text {
    max-width: 80%;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: .01em;
    margin-bottom: 110px;
  }
  .hero__btn {
    letter-spacing: .05em;
  }
  .about__container {
    margin-bottom: 59px;
  }
  .about__title {
    margin-bottom: 25px;
  }
  .about__text {
    margin-bottom: 59px;
  }
  .about__left-block {
    margin-bottom: 50px;
  }
  .cards-wrapper__item {
    align-items: center;
  }
  .btn_sm {
    padding: 19px 20px;
  }
  .consult__container {
    margin-bottom: 54px;
  }
  .consult__steps {
    padding: 46px 0 43px 0;
  }
  .consult__content-item {
    flex: 0 1 47%;
  }
  .consult__btn-wrapper{
    max-width: 80%;
  }
  .cards-wrapper__item {
    padding: 65px 100px 64px 112px;
  }
  .consult__text {
    max-width: 758px;
    margin-bottom: 28px;
  }
  .qa__container {
    margin-bottom: 53px;
  }
  .qa__item-text {
    max-width: 80%;
    font-size: 20px;
    line-height: 32px;
  }
  .footer {
    padding: 48px 0 84px;
  }
  .footer__footer-right {
    display: none;
  }
  .footer__center {
    flex-basis: 58%;
    margin-right: 0;
  }
  .footer__title {
    margin-top: 10px;
    margin-bottom: 23px;
  }
  .form__btn {
    padding: 22px 15px;
    flex: 0 1 45%;
  }
  .checkbox {
    margin-left: 10px;
    flex: 0 1 52%
  }
  .submit-wrapper {
    flex-direction: row;
  }
}

@media (max-width: 925px) {
  .submit-wrapper {
    flex-direction: column;
  }
  .cards-wrapper__item {
    padding: 36px 30px 35px 31px;
    align-items: center;
  }
}

@media (max-width: 768px) and (min-width: 320px) {
  .container {
    width: 87%;
  }
  .hero__container {
    width: 100vw;
    padding: 190px 10px 114px 48px;
  }
}
@media (max-width: 768px) {
  :root {
    --list-gap: 40px;
  }
  .header__container {
    padding: 10px 0;
    margin-bottom: 0;
  }
  .hero__text {
    max-width: 100%;
  }
  .about__text {
    margin-bottom: 60px;
  }
  .left-block__bground {
    min-height: 650px;
  }
  .about__container {
    margin-bottom: 59px;
  }
  .about__left-info-block {
    padding: 24px 28px 25px 28px;
  }
  .about__left-info-text {
    flex: 0 1 65%;
    max-width: 65%;
    line-height: 31px;
  }
  .about__left-block {
    margin-bottom: 40px;
  }
  .consult__container {
    margin-bottom: 58px;
  }
  .consult__btn-wrapper{
    position: static;
    max-width: 52%;
  }
  .btn_sm {
    padding: 20px 20px
  }
  .btn_transparent {
    padding: 21px 22px 19px 20px;
    flex: 0 1 29%
  }
  .cards-wrapper__title {
    margin-bottom: 5px;
  }
  .cards-wrapper__image-container {
    margin-right: 26px;
    margin-top: 0;
    width: 120px;
    height: 90px;
  }
  .cards-wrapper__image-container_gear {
    transform: scale(1.1) translateX(6px) translateY(0);
  }
  .qa__title {
    font-size: 46px;
    letter-spacing: 0.2px;
  }
  .consult__steps {
    justify-content: space-between;
    padding: 45px 0 39px 0;
  }
  .consult__steps-item:not(:last-child) {
    margin-right: 0;
  }
  .consult__content {
    flex-direction: column-reverse;
  }
  .consult__content-item-right {
    margin-bottom: 43px;
  }

  .qa__container {
    margin-bottom: 58px;
  }
  .qa__item-text {
    max-width: 86%;
  }
  .consult__text {
    margin-bottom: 28px;
  }
  .footer {
    padding: 50px 0 60px 0;
  }
  .footer-container {
    flex-direction: column-reverse;
  }
  .footer__title {
    margin-bottom: 23px;
  }
  .footer__nav {
    display: none;
  }
  .footer__form {
    width: 80%;
  }
  .footer__form-input:not(:last-child) {
    margin-bottom: 25px;
  }
  .footer__form-input_message {
    margin-bottom: 30px !important;
  }
  .social-media {
    margin-top: 5px;
    position: relative;
  }
  .footer__center {
    margin-bottom: 59px;
  }
  .footer__logo-link {
    margin-bottom: 16px;
  }
  .submit-wrapper {
    flex-direction: row;
  }
}

@media (max-width: 700px) and (min-width: 501px) {
  :root {
    --list-gap: 30px;
  }
  .search-box {
    width: 100%;
  }
  .search-input {
    width:80%;
  }
  .closed-search {
    font-size: 0;
    padding: 12px;
  }
  .hero__container {
    margin-bottom: 39px;
  }
  .left-block__bground {
    min-height: 400px;
    height: 400px;
  }
  .about__text {
    margin-bottom: 20px;
  }
  .about__left-info-block {
    padding: 20px 20px 25px 20px;
    flex-direction: column;
  }
  .about__left-info-text {
    max-width: 100%;
    margin-bottom: 10px;
  }
  .cards-wrapper__item {
    padding: 20px;
    flex-direction: column;
  }
  .cards-wrapper__image-container {
    width: 80px;
    height: 80px;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .consult__steps {
    padding: 30px 0;
  }
  .form__btn {
    padding: 20px 15px;
  }
  .checkbox {
    margin-top: 13px;
  }

  .submit-wrapper {
    flex-direction: column;
    height: unset;
  }
  .form__btn {
    padding: 15px 0;
    width: 65%;
  }
}

@media (max-width: 501px) {
  :root {
    --swiper-navigation-size: 20px;
  }
  .search-box {
    width: 100%;
  }
  .search-input {
    width:80%;
  }
  .closed-search {
    font-size: 0;
    padding: 12px;
  }
  .hero__container {
    width: 90%;
    padding: 32px 21px 40px 21px;
    margin-bottom: 39px;
  }
  body {
    font-size: 14px;
    line-height: 28px;
  }
  :root {
    --list-gap: 35px;
  }
  .text {
    font-size: 14px;
    line-height: 28px;
  }
  .section-title {
    font-size: 24px;
    line-height: 30px;
  }
  .hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero__text {
    margin-bottom: 34px;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    font-weight: 400;
  }
  .hero__title {
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    margin-bottom: 5px;
  }
  .btn {
    font-size: 12px;
    line-height: 15px;
    padding: 11px 14px 14px 15px;
  }
  .cards-wrapper__item {
    padding: 0;
    flex-direction: column;
    align-items: flex-start;
    border: none;
  }
  .cards-wrapper__title{
    font-size: 18px;
    font-weight: 500;
  }
  .consult__strong-title {
    font-size: 18px;
    font-weight: 500;
  }
  .cards-wrapper__image-container {
    width: 64px;
    height: 63px;
  }
  .about__container {
    margin-bottom: 46px;
  }
  .about__text {
    margin-bottom: 20px;
  }
  .consult__text {
    margin-bottom: 20px;
  }
  .about__text {
    margin-bottom: 30px;
  }
  .about__left-info-block {
    position: static;
    padding: 0;
    flex-direction: column;
    align-items:flex-start;
    background-color: transparent;
  }
  .left-block__bground {
    height: 300px;
    min-height: unset;
    margin-bottom: 9px;
  }
  .about__left-info-text{
    margin-bottom: 11px;
    max-width: 100%;
    font-size: 14px;
    line-height: 28px;
    font-weight: normal;
    color: var(--dark-gray);
  }
  .btn_transparent {
    padding: 11px 40px;
    font-size: 12px;
    line-height: 15px;
    color: var(--orange-color);
    border-width: 2px;
  }
  .consult__steps {
    padding: 20px 0 20px 0;
  }
  .consult__btn {
    font-size: 14px;
    line-height: 17px;
  }
  .consult__steps-item:not(:last-child) {
    margin-right: 0;
  }
  .qa__title {
    margin-bottom: 20px;
  }
  .qa__item {
    padding: 20px 35px 20px 0;
  }
  .qa__item-text{
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
  }
  .qa__expand-icon {
    width: 30px;
    height: 30px;
  }
  .footer {
    padding: 39px 0 25px 0;
  }
  .footer__center {
    width: 100%;
    margin-bottom: 23px;
  }
  .footer__logo-link {
    height: 42px;
  }
  .footer__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 23px;
    border-top: 1px solid #595959;
  }
  .footer__title {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 20px;
    text-align: center;
  }
  .footer__logo-link {
    margin-bottom: 16px;
  }
  .footer__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .footer__form-input {
    padding: 14px 20px;
    font-size: 14px;
    line-height: 32px;
  }
  .checkbox {
    display: block;
    margin-left: 0;;
    padding-top: 13px;
  }
  .submit-wrapper {
    flex-direction: column;
    height: unset;
  }
  .social-media {
    width: 135px;
  }
  .social-media__link {
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 375px) {

  .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }
  .search-box {
    padding: 8px 13px 8px 32px;
  }
  .search-input {
    font-size: 14px;
  }
  .header__search-btn {
    width: 22px;
    height: 22px;
  }

  .container {
    width: 90%;
  }
  .search-input {
    width:100%;
  }
  .section-title {
    font-size: 24px;
    line-height: 30px;
  }
  .header__container {
    padding: 7px 0;
  }
  .header__logo {
    height: 31px;
  }
  .header-burger {
    width: 25px;
    height: 19px;
  }
  .hero__container {
    padding: 32px 21px 40px 22px;
    margin-bottom: 39px;
  }
  .hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero__title {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 7px;
  }
  .hero__text {
    margin-bottom: 35px;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    font-weight: 400;
  }
  .btn {
    padding: 11px 28px 14px 29px;
    letter-spacing: 0.1px
  }
  .btn_sm {
    flex: 0 1 50%;
    padding: 11px 43px 14px 43px;
    margin-right: 10px;
  }
  .btn_sm_black {
    padding: 11px 31px 14px 30px;
  }
  .about__title {
    margin-bottom: 1px;
  }
  .about__text {
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 11px;
  }
  .cards-wrapper__item {
    padding: 0;
    flex-direction: column;
    align-items: flex-start;
    border: none;
  }
  .cards-wrapper__image-container {
    width: 64px;
    height: 63px;
  }
  .cards-wrapper__image-container_gear {
    transform: none;
  }
  .cards-wrapper__item:not(:last-child) {
    margin-bottom: 21px;
  }
  .cards-wrapper__image-container_gear {
    margin-bottom: 4px;
  }
  .cards-wrapper__title {
    margin-bottom: 4px !important;
  }
  .left-block__bground {
    height: 200px;
    margin-bottom: 8px;
  }
  .btn_transparent {
    padding: 9px 42px 12px 40px;
  }
  .about__left-block {
    margin-bottom: 40px;
  }
  .strong-title {
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
  }
  .consult__container {
    margin-bottom: 39px;
  }
  .consult__title {
    transform: unset;
  }
  .consult__steps {
    padding: 29px 0 11px 0;
  }
  .consult__btn-wrapper {
    max-width: 100%;
    height: 40px;
  }
  .consult__content-item-right {
    min-height: 160px;
    margin-bottom: 12px;
  }
  .consult__strong-title {
    margin-bottom: 4px;
  }
  .consult__text {
    margin-bottom: 20px;
  }
  .qa__container {
    margin-bottom: 39px;
  }
  .qa__title {
    margin-bottom: 14px;
    letter-spacing: 0.05px;
  }
  .qa__item {
    padding: 30px 35px 26px 0;
  }
  .qa__item-text {
    max-width: 80%;
    font-size: 14px;
    line-height: 24px;
  }
  .footer {
    padding: 29px 0 25px 0;
  }
  .footer__form {
    width: 100%;
  }
  .footer__form-input_message {
    margin-bottom: 25px !important;
  }
  .form__btn {
    padding: 12px 26px 13px 26px;
  }
  .footer__logo-link {
    margin-bottom: 11px;
  }
  .footer__title {
    text-align: unset;
  }
}

